*{
    font-family: Lato, sans-serif;
}
#loadingDiv {
    position:absolute;
    left:50%;
    width:500px;
    z-index: 2;
    text-align:center;
    transform: translate(-50%, 0%);
    font-family: Lato;
}
#loadingDiv h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 0px;
}
#loadingDiv h2 {
    font-size: 1.5rem;
    margin-bottom: 0px;
}
#loadingDiv p {
    font-size:1rem;
    margin-bottom: 0px;
}
#mainDiv {
    z-index: 2;
    text-align:center;
    background-color: #868686ab;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}
#mainDiv h1 {
    color:white;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0px;
    /* text-shadow: -4px 4px 0 #000, 2px 4px 0 #000, 3px 0px 0 #000, -1px 2px 0 #000; */
}
#mainDiv h2 {
    color:white;
    font-size: 1em;
    margin:5px;
}
#mainDiv p {
    color:white;
    font-size: 0.8em;
    margin:5px;
}
#nickname {
    border:3.5px solid #333333;
    border-radius: 4px;
    font-size:30px;
    padding:5px;
    height: 64px;
    width: 100%;
}
#skinsbutton {
    /* border:3.5px solid #333333; */
    border-radius: 4px;
    background-color: #c6c6c6;
    font-size:30px;
    padding:5px;
    height: 94px;
    font-size:30px;
    width: 100%;
    margin-top: 7px;
}
#skinsdiv {
    position: fixed;
    z-index: 9;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:500px;
    height:500px;
    border:3.5px solid #333333;
    border-radius: 5px;
    background-color:white;
}
#closebutton {
    position: absolute;
    top:-25px;
    left:100%;
    border:none;
    transform: translate(-50%, 0%);
    background-color:rgba(0,0,0,0);
}
#close {
    width:50px;
    height:50px;
	cursor: pointer;
}
#shareDiv {
    font-size:50px;
    top:0px;
    width:500px;
    height:500px;
    background-image: url('css/button_center.png');
    font-weight: bolder;
}
#lock {
    position:fixed;
    width:150px;
    height:187px;
    left:50%;
    top:12%;
    transform: translate(-50%, 0%);
}
#fbshare{
    width:150px;
    height:40px;
    font-size:20px;
    background-color:#4267B2;
    color:white;
    border:3.5px solid #333333;
    border-radius: 5px;
}
#twshare{
    width:150px;
    height:40px;
    font-size:20px;
    background-color:#1DA1F2;
    color:white;
    border:3.5px solid #333333;
    border-radius: 5px;
}
#skinselect {
    font-size:40px;
    width:100%;
    text-align:center;
    font-weight: bold;
}
.pcanvas {
    z-index:5;
    width:200px;
    height:200px;
    margin:10px 20px;
    float:left;
    border:3.5px solid #333333;
    border-radius: 5px;
}
.skin {
    z-index:5;
    width:130px;
    height:130px;
    margin:10px 18px;
    float:left;
    border:3.5px solid #333333;
    border-radius: 5px;
}